body {
  font-family: 'Nunito Sans';
  overflow-x: hidden
}

::selection {
  background: #dc3545 !important;
  color: #fff !important;
}
::-moz-selection {
  background: #dc3545 !important;
  color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito Sans';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-white {
  background-color: #fff !important;
}

.bg-black {
  background-color: #000 !important;
}

.bg-light {
  background-color: #eff3f9!important;
}

.form-control {
  border: 0 !important;
}

.shadow-card {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31,45,65,.15);
}

.btn {
  border: 0 !important;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31,45,65,.15);
}

.text-covid {
  color: #b71c1c !important;
}

.text-black {
  color: #000 !important;
}

.bg-covid {
  background: linear-gradient(0deg, #7f0000 0%, #b71c1c 100%) !important;
}

.tips p {
  font-size: 1.5rem;
  font-weight: 600;
}

.tips .display-4 {
  font-size: 3rem;
}

.text-light {
  color: #eff3f9!important;
}

.text-bold {
  font-weight: 700;
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(31,45,65,.15);
  overflow: hidden;
  position: relative;
  border: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #b71c1c;
}

.vertical-middle {
  padding-top: 4px;
  vertical-align: -webkit-baseline-middle;
}

.rounded-pill {
  border-radius: 5rem;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(255, 255, 255);
}

.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 900;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: rgba(0,0,0,.5);
}

header.masthead {
  position: relative;
  overflow: hidden;
  /* padding-top: calc(7rem + 72px); */
  background: #fff !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #b71c1c 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

.covid-box h5{
  font-size: 4rem;
  font-weight: 700 !important;
}
.covid-box p {
  font-size: 1.3rem;
  font-weight: 600;
}

@media (min-width: 992px) {
  header.masthead .masthead-content .masthead-heading {
    font-size: 2rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 1.5rem;
  }
}

.bg-primary {
  background-color: #b71c1c !important;
}

.indicator {
  font-size: 2rem !important;
}

.form-control:focus {
  outline: 0 !important;
  border-color: initial;
  box-shadow: none;
}

.input-group-text {
  border: 0 !important;
  background-color: #fff;
}

.btn-primary {
  background-color: #b71c1c;
  border-color: #b71c1c;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #7f0000 !important;
  border-color: #7f0000 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}
